{%extends "public/public_templates.html"%}


{% block main %}
<h1 class="h1 text-center"> Versão 1.0</h1>
<br>
<div class="container">
    <p>A versão 1.0 teve por escopo disponibilizar a calculadora de análise da prescrição da pretensão punitiva.</p>
    <p>Nesta versão foram implantados:</p>
    <ul>
        <li>
            Os principais crimes contidos no Código Penal.
        </li>
        <li>
            Análise da data do fato enquanto marco inicial da prescrição da pretensão punitiva.
        </li>
        <li>
            Análise da data do recebimento da denúncia como elemento caracterizador da interrupção da prescrição da
            pretensão punitiva.
        </li>

        <li>
            Análise do termo <i>a quo</i> e termo <i>ad quem</i> da suspensão da prescrição.
        </li>

        <li>
            Análise da idade do autor do fato, para redução pela metade da prescrição, caso ele tivesse vinte e um anos
            quando da data do fato ou setenta anos <b> quando da análise pela calculadora (não foi implementado o marco
            da data da sentença).</b>
        </li>

        <li>
            Geração de formulário de resultado.
        </li>

        <li>
            Criação de todo o front-end e back-end bem como deploy do servidor de aplicação.
        </li>
    </ul>

</div>
{% endblock %}