
{%extends "public/public_templates.html"%}

{% block main %}
<h1 class="h1 text-center"> Sobre essa iniciativa</h1>
<br>
<div class="container">
<p>Essa é uma iniciativa individual, sem fins lucrativos!</p>
<p>O objetivo deste portal é disponibilizar ferramentas para os Operadores do Direito, com o intuito de facilitar a análise jurídica dos casos, sanar dúvidas, servindo de norte à correta aplicação da Lei.</p>
<p>Este sítio encontra-se em desenvolvimento e aperfeiçoamento. Todas as críticas e contribuições são bem vindas. Eventuais inconsistências que porventura existam, pedimos que nos contactem pelo e-mail para que possamos corrigir os problemas detectados.</p>
<p>Nossa calculadora ainda está em processo de validação. Consulte um Operador do Direito / advogado para retirar suas dúvidas jurídicas.</p>
</div>
{% endblock %}
