{%extends "public/public_templates.html"%}

{% block title %}
Prescrição_resultados
{% endblock %}

{% block main %}

<div class="container">
    <h1>Análise Prescrição</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="text-start"> Nº Processo</th>
            <td class="text-start"> {{dados_prescricao['processo'] }}</td>
        </tr>

        <tr>
            <th class="text-start"> Réu</th>
            <td class="text-start"> {{dados_prescricao['reu'] }}</td>
        </tr>

        <tr>
            <th class="text-start"> Legislação</th>
            <td class="text-start"> {{dados_prescricao['legislacao'] }}</td>
        </tr>

        <tr>
            <th class="text-start"> Tipo penal</th>
            <td class="text-start"> {{dados_prescricao['crime'] }}</td>
        </tr>

        <tr>
            <th class="text-start"> Data do Fato</th>
            <td class="text-start"> {{corrige_ordem_da_data_str (dados_prescricao['data_fato']) }}</td>
        </tr>

        <tr>
            <th class="text-start"> Data do Recebimento da Denúncia</th>
            {% if dados_prescricao['Dt_Denuncia'] %}
            <td class="text-start"> {{corrige_ordem_da_data_str (dados_prescricao['Dt_Denuncia'] ) }}</td>

            {%else%}
            <td class="text-start"> -</td>
            {% endif %}
        </tr>


        <tr>
            <th class="text-start"> Prazo da Prescrição do crime (anos)</th>
            <td class="text-start"> {{resultado['prazo_prescricao']}}</td>
        </tr>

        <tr>
            <th class="text-start"> Suspensão da prescrição</th>
            <td class="text-start">{{dados_prescricao['suspensao_prescricao_bool']}}</td>
        </tr>

        {% if dados_prescricao['suspensao_prescricao_bool'] == "Sim" %}
        <tr>
            <th class="text-start"> Data de início da suspensão da prescrição</th>

            {% if dados_prescricao['Dt_inicio_suspensao'] %}
            <td class="text-start"> {{corrige_ordem_da_data_str (dados_prescricao['Dt_inicio_suspensao']) }}</td>
            {%else%}
            <td class="text-start"> -</td>
            {% endif %}
        </tr>

        <tr>
            <th class="text-start"> Data de fim da suspensão da prescrição</th>
            {% if dados_prescricao['Dt_fim_suspensao'] %}
            <td class="text-start"> {{corrige_ordem_da_data_str (dados_prescricao['Dt_fim_suspensao']) }}</td>
            {%else%}
            <td class="text-start"> -</td>
            {% endif %}
        </tr>


        <tr>
            <th class="text-start"> Tempo de suspensão (dias)</th>
            <td class="text-start"> {{resultado['tempo_suspensao']}}</td>
        </tr>
        {% endif %}

        <tr>
            <th class="text-start">Tempo decorrido para verificação da prescricão</th>
            {% if resultado['tempo_decorrido_para_prescricao'] <= 1 %}
            <td class="text-start"> Período igual ou inferior a um ano</td>
            {%else%}
            <td class="text-start"> {{resultado['tempo_decorrido_para_prescricao']}}</td>
            {%endif%}
        </tr>

        <tr>
            <th class="text-start">Redução pela metade do tempo de prescrição</th>
            <td class="text-start"> {{dados_prescricao['verificacao_idade']}}</td>

            {% if dados_prescricao['verificacao_idade'] == 'Sim' %}
        <tr>
            <th class="text-start">Autor tinha menos de 21 anos na data do fato</th>
            <td class="text-start"> {{menor_de_vinte_um}}</td>
        </tr>
        <tr>
            <th class="text-start">Autor tem mais de setenta anos</th>
            <td class="text-start"> {{maior_de_setenta}}</td>
        </tr>


        {% endif %}
        </tr>

        <tr>
            <th class="text-start"> Crime Prescreveu?</th>

            {% if resultado['resultado'] == "True" %}
            <td class="text-start">Sim</td>
            {%else%}
            <td class="text-start">Não</td>
            {% endif %}


        </tr>


        </thead>

    </table>

</div>


<br><br><br><br>


{% endblock %}

